.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content svg {
    margin-bottom: 10px;
}

.modal-content h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.modal-button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    width: 100%;
    max-width: 200px;
}

.modal-button:hover {
    background: #218838;
}


@media (max-width: 768px) {
    .modal-content {
        width: 80%;
        padding: 15px;
    }

    .modal-content h2 {
        font-size: 18px;
    }

    .modal-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Animação de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
