.conteudo-faturas {
    padding: 20px;
}

.lista-faturas {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-fatura {

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-fatura div:first-child {
    padding: 20px;
}

.card-fatura div:first-child p {
    margin: 5px 0;
}

.card-fatura div:first-child strong {
    color: #072d6c;
}

.card-fatura div:first-child .status-fatura {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 10px 0;
}

.card-fatura .actions-fatura {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 0 8px 8px 0;
    padding: 0 15px;

    background-color: #efefef;
}

.erro {
    color: red;
    font-weight: bold;
}
